*.7z -text
*.arrow -text
*.bin -text
*.bz2 -text
*.ckpt -text
*.ftz -text
*.gz -text
*.h5 -text
*.joblib -text
*.lfs.* -text
*.mlmodel -text
*.model -text
*.msgpack -text
*.npy -text
*.npz -text
*.onnx -text
*.ot -text
*.parquet -text
*.pb -text
*.pickle -text
*.pkl -text
*.pt -text
*.pth -text
*.rar -text
*.safetensors -text
saved_model/**/* -text
*.tar.* -text
*.tar -text
*.tflite -text
*.tgz -text
*.wasm -text
*.xz -text
*.zip -text
*.zst -text
*tfevents* -text
data/2024-03-19[[:space:]]QueryResults.csv -text
data/ -text
*.csv -text
